.msgList{
    .header{
        align-items: center;
        color: #fff;
        background-image: linear-gradient(110deg,#d11aab,#a50b73);
        box-sizing: border-box;
        display: flex;
        font-size: .42666667rem;
        height: 1.12rem;
        line-height: 1.12rem;
        padding: 0 .13333333333333333rem;
        position: relative;
        text-align: center;
        white-space: nowrap;
        margin-bottom: -1px;


        h2{
            font-size: .4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;
            flex: 1;
            color:#fff;
        }   
 
    }
    #tabNav{
        background-color: #fff;
        text-align: center;
        

        .ant-tabs-nav{
            
            .ant-tabs-tab{
                font-size: .4rem;
                line-height: 1.2rem;
                margin:0;
                padding:0 .5rem;
            }
            .ant-tabs-tab-active{
                margin:0 .5rem;
                padding:0;
                color: #a50b73;
            } 
            .ant-tabs-ink-bar-animated{
                background: #a50b73;
        }
        } 
        
    }
    
}







