#home {
    font-size: .32rem;
    width: 100vw;
    height: 100%;
    background: #f1f1f6;
    color: #515a6e;
    /* overflow-y: auto; */
}
nav .navList{
    overflow-x: scroll;
    text-align: center;
    white-space: nowrap;
}

.navList::-webkit-scrollbar {
    display: none;
}

nav .navList li{
    width: 1.8933333333333333rem;
    text-align: center;
    margin: .5333333333333333rem 0;
    display: inline-block;
}
nav .navList li img{
    width: 1.1733333333333333rem;
    height: 1.1733333333333333rem;
    border-radius: 50%;
    margin:0 auto;
}
nav .navList li p{
    font-size: .32rem;
    font-weight: 700;
    margin-top: .23333333333333333rem;
}