#home {
    font-size: .32rem;
    width: 100vw;
    height: 100%;
    background: #f1f1f6;
    color: #515a6e;
    /* overflow-y: auto; */
}

nav .navList {
    overflow-x: scroll;
    text-align: center;
    white-space: nowrap;
}

.navList::-webkit-scrollbar {
    display: none;
}

nav .navList li {
    width: 1.8933333333333333rem;
    text-align: center;
    margin: .5333333333333333rem 0;
    display: inline-block;
}

nav .navList li img {
    width: 1.1733333333333333rem;
    height: 1.1733333333333333rem;
    border-radius: 50%;
}

nav .navList li p {
    font-size: .32rem;
    font-weight: 700;
    margin-top: .13333333333333333rem;
}

#home .banner {
    overflow: hidden;
    position: relative;
    height: 100%;
}

#home .tipers {
    margin: .5333333333333333rem .26666666666666666rem;
    margin-top: .5333333333333333rem;
}

.tipers dl:first-child {
    border-radius: .24rem 0 0 0;
}

.tipers dl {
    display: inline-block;
    width: 2.3333333333333335rem;
    min-height: 1.5733333333333333rem;
    text-align: center;
    background: #fff;
    margin: .013333333333333334rem;
}

.tipers dl dt {
    margin-top: .32rem;
    font-size: .37333333rem;
    font-weight: 700;
}
.tipers dl dd{
    display: inline-block;
    margin-top: .05333333333333334rem;
    padding: .013333333333333334rem .13333333333333333rem;
}

main{
    display: block;
}
.sec{
    margin: .26666666666666666rem .4rem;
    background: #fff;
    border-radius: .21333333333333335rem .21333333333333335rem 0 0;
}
.sectitle{
    font-size: .45333333rem;
    font-weight: 700;
    line-height: 1.2533333333333334rem;
    text-align: center;
    color: #515a6e;
}
.sec ul{
    padding-bottom: .13333333333333333rem;
}
.sec ul li:nth-child(odd){
    margin-right: .4rem;
}
.sec ul li{
    margin-bottom: .4rem;
    width: 4.4rem;
    display: inline-block;
    position: relative;
}
.sec ul li img{
    width: 100%;
    height: 3.3066666666666666rem;
}
.sec2{
    margin: .26666666666666666rem .4rem;
    background: #fff;
    border-radius: .21333333333333335rem .21333333333333335rem 0 0;
}
.sec2title{
    font-size: .45333333rem;
    font-weight: 700;
    line-height: 1.2533333333333334rem;
    text-align: center;
}
.sec2 ul li{
    display: inline-block;
    width: 4.4rem;
    position: relative;
    margin-bottom: .6666666666666666rem;
    overflow: hidden;
}
.sec2 ul li:nth-child(odd){
    margin-right: .4rem;
}
.sec3 ul li{
    display: inline-block;
    width: 4.4rem;
    position: relative;
    margin-bottom: .6666666666666666rem;
    overflow: hidden;
}
.sec3 ul li:nth-child(odd){
    margin-right: .4rem;
}
.sec2 ul li img{
    width: 100%;
    height: 3.3066666666666666rem;
}
.sec3 ul li img{
    width: 100%;
    height: 3.3066666666666666rem;
}
.sec2Product p{
    min-height: 1.04rem;
    line-height: .52rem;
    margin: .16rem;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sec2type{
    color: #9b9b9b;
    margin-left: .16rem;
}
.sec2price{
    position: absolute;
    right: .05333333333333334rem;
    bottom: 0;
    color: #c31f9b;
}
.sec2price em{
    font-size: .42666667rem;
    font-style: normal;
    margin: .08rem;
}

.sec3{
    margin: .26666666666666666rem .4rem;
    background: #fff;
    border-radius: .21333333333333335rem .21333333333333335rem 0 0;
}
.sec3title{
    font-size: .45333333rem;
    font-weight: 700;
    line-height: 20.053px;
    line-height: 1.2533333333333334rem;
    text-align: center;
}
#home .intro{
    margin: .26666666666666666rem .4rem;
    background: #fff;
    border-radius: .21333333333333335rem .21333333333333335rem 0 0;
}
.intro .introtitle{
    font-size: .45333333rem;
    font-weight: 700;
    line-height: 1.2533333333333334rem;
    text-align: center;
}
.mainTweet{
    height: 5.2rem;
    position: relative;
}
.mainTweet img{
    width: 100%;
    height: 5.2rem;
}
.mainTweet>p{
    font-size: .42666667rem;
    font-weight: 700;
    position: absolute;
    width: 100%;
    height: 1.0133333333333334rem;
    line-height: 1.0133333333333334rem;
    color: #fff;
    background: rgba(0,0,0,.4);
    padding: 0 .48rem;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.intro ul li{
    margin: .26666666666666666rem 0;
}
.intro ul li img{
    width: 2.506666666666667rem;
    height: 2.6133333333333333rem;
    vertical-align: top;
}
.intro ul li .tweet_container{
    display: inline-block;
    width: 6.133333333333334rem;
    padding: .26666666666666666rem;
}
.intro ul li .tweet_container p{
    line-height: .48rem;
    margin-bottom: .29333333333333333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.introul li .tweet_container span{
    color: #9b9b9b;
    margin: 0 .13333333333333333rem auto .05333333333333334rem;
}

.guess{
    font-size: .45333333rem;
}
.guess .line{
    display: inline-block;
    width: 1.2rem;
    height: 1px;
    opacity: .6;
    background: #c31f9b;
    vertical-align: middle;
    margin: 0 .21333333333333335rem;
}
.guess img{
    width: .6933333333333334rem;
    margin-right: .13333333333333333rem;
    vertical-align: middle;
}
.guess span{
    color: #c31f9b;
    vertical-align: middle;
}
.lastsec{
    margin-bottom: 1.3333333333333333rem;
}